@inject IOptions<SiteOptions> Site
@using LightBlog.Server.Models
@model LightBlog.Server.ViewModels.PostViewModel
@{
    var isSummaryView = Site.Value.SummaryOnly && ViewData["home"] != null;
}

<div class="post">
    <h1>
        <a asp-route="post"
           asp-route-year="@Model.Date.Year"
           asp-route-month="@Model.Date.Month"
           asp-route-name="@Model.Name">
            @Model.Title
        </a>
    </h1>
    <div class="date">
        <span>@Model.Date.ToString("dd MMM, yyyy")</span>
    </div>
    <div class="post-body">
        @if (isSummaryView)
        {
            @Html.Raw(Model.RawHtmlSummary)
        }
        else
        {
            @Html.Raw(Model.RawHtml)
        }
    </div>
    @if (isSummaryView)
    {
        <a class="more" asp-route="post"
           asp-route-year="@Model.Date.Year"
           asp-route-month="@Model.Date.Month"
           asp-route-name="@Model.Name"
           title="@Model.Title">...</a>
    }
</div>